@import "tailwindcss";

@font-face {
    font-family: Garamond;
    src: url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
}



@theme{
    --color-bgGreen: #e0e2d6;
    --color-txtGreen: #333d29;
    --color-lightTxtGreen: #a4ac86;
    --font-garamond: Garamond, "sans-sherif";
}

html {
    scroll-behavior: smooth;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a{
    cursor: pointer;
}

button{
    cursor: pointer;
}